<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= message %></title>
  </head>
  <body>
    <form action="/new" method="get">
      <button type="submit">Send new Message</button>
    </form>
    <ul>
      <% messages.forEach(message => { %>
      <li>
        <p>To: <%= message.user %></p>
        <p>Content: <%= message.text %></p>
        <p><%= message.added %></p>
        <form action= '/<%= message.id %>' method="get">
        <button type="submit">Open Message</button>
        </form>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
